
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
*{
	font-family: Roboto, sans-serif;
	box-sizing:border-box;
}
body,html,main{
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	overflow:hidden;
	position:fixed;
}
body{
	background:url('../img/mainBg.jpg') no-repeat;
    background-size:100% 100%;
    position: fixed;
}



.clock_todo{
	width: 100%; height: 100%;
	position: absolute;
	transition:.5s;
}
.ct{
	position:absolute;
	width: 100%; height: 100%;
}

										/* 시계를 표시하는 부분입니다. */
.clock_wrap_center{
	position: absolute;
	display:inline-block;
	left: 50%; top:45%;
	transform:translate(-50%, -50%);
}
.clock_wrap_center > h4{
	text-align: center;
	font-size:40px;
}

.clockbox{
	margin-top:-70px;



}

										/* 시계입니다 */
.clockbox > h2{
	font-family: Roboto;
	font-weight:500;
	font-size: 173px;
	color: #F8F8F8;
	text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.39);;

}


.form,.hidden,.removebtn{
	display: none;
} 

.showing{
	display:block;
}
										/* 이름 입력 인풋입니다. */
.form > input{
	width: 200px; height: 50px;
	background:rgba(255,255,255,0.4);
	border:none;
	border-radius:80px;
	text-align: center;
}

										/*이름입니다.*/
.name_btn h4{
	margin-top:-70px;
}
.name_btn h4 > span {
	font-weight: bold;
	color: #F8F8F8;
	font-size: 60px;
	font-size:40px;
	text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.6);
}

										/* 날씨입니다 */
.weather_wrap{
	margin: 0 auto;
	text-align: center;
}
.js-weather-place{
	color:white;
}
.js-weather-maxtemp{color:red;}
.js-weather-mintemp{color:blue;}




										/* 이름지우기 버튼입니다. */

.clock_wrap_center .removebtn{
	position: absolute;
	width: 140px; height: 36px;
	left:50%; margin-left:-70px;
	margin-top: 40px;
	border:none;
	color:#595959;
	background:rgba(255,255,255,0.4);
	text-transform: uppercase;
	border-radius:80px;
	font-size: 14px;
}
.form{
	text-align: center;
	margin-top: -75px;
}

.name_btn{
	text-align: center;
}


										/* 링크모음 */
.link_btn_wrap{
	width: 370px; height: 85px;
	text-align: center;
    margin: 130px auto 0 auto;
	background:rgba(255,255,255,0.4);
	border-radius:80px;
}
.link_btn_wrap > div {
	display:inline-block;
	margin:12.5px 6px;
	width:60px; height:60px;
	border-radius:100%;
	background:#000;
}
.link_btn_wrap > div a{
	display:inline-block;
	width: 60px; height: 60px;
	border-radius:100%;
}

.link_btn_wrap > div:nth-child(1){background:url('../img/naver.png');
background-size:65px; background-position:-2.5px -2.5px}
.link_btn_wrap > div:nth-child(2){background:url('../img/daum.png');
background-size:65px; background-position:-2.5px -2.5px}
.link_btn_wrap > div:nth-child(3){background:url('../img/google.jpg')no-repeat;
background-size:65px; background-position:-2.5px -1px}
.link_btn_wrap > div:nth-child(4){background:rgba(255,255,255,0.4)}



										/* ToDoList 부분입니다. */

.todo_wrap{
	width: 100%; height: 100%;
}

.todo_wrap_center{
	    width: 350px;
    height: 486px;
	position: absolute;
	display:inline-block;
	left: 50%; top:50%;
	transform:translate(-50%, -50%);	
	background:rgba(255,255,255,0.4);
	border-radius:10px;
}

.todo_wrap > ul > li{
	word-break: break-all;
}
.js-toDoList > li > span{
    display: inline-block;
    width: 70%;
    margin: 0;
    padding: 0;
    word-break: break-all;
}
.js-toDoList > li > button{
	position: relative;
	right: 0;
	background:transparent;
	color:black;
	border:none;
}


.todo_wrap_center > h4{
	color:#fff;
	text-shadow:2px 5px 5px rgba(0,0,0,0.4);
	text-align: center;
	font-size: 20px;
	margin-top: 50px;
}

.todo_wrap .js-toDoForm{
	width: 200px;
	height: 50px;
	margin: 20px auto;
	text-align: center;
}

.todo_wrap .js-toDoForm>input{
	width:100%; height: 100%;
	margin:0 auto;
	background:rgba(255,255,255,0.4);
	border:none;
	border-radius:10px;
	text-align: center;
}

.todo_wrap .js-toDoList { 
	display: block;
	width: 300px;
	height: 250px;
	overflow-y: scroll;
	box-shadow:0px 0px 10px gray;
	margin: 0 auto;
	list-style: decimal;
	background:rgba(255,255,255,0.4);
	border-radius:10px;
 }


@media (min-width: 320px) and (max-width: 480px) {

body{
	background:url('../img/mainBg.jpg') no-repeat;
    	background-size:200% 100%;
	position:fixed;
}
	
	
	
.clockbox > h2{
	margin: 90px auto;
	font-size: 60px;
	text-align: center;
}
.name_btn h4 > span {
	font-weight: 500;
	font-size:24px;
}

body,html,main{
	overflow:scroll;
}

.link_btn_wrap{
	    width: 205px; height: 50px;
}
.link_btn_wrap > div{
	width: 40px; height: 40px;
	margin: 5px 1px;
}
.link_btn_wrap > div > a{
	width: 40px; height: 40px;
}
    
.link_btn_wrap > div{
background-color:#fff;}
.link_btn_wrap > div:nth-child(1){background:url('../img/naver.png');
 background-size:40px}
    .link_btn_wrap > div:nth-child(2){background:url('../img/daum.png');
background-size:40px;}
.link_btn_wrap > div:nth-child(3){background:url('../img/Google.jpg') no-repeat;
background-size:41px;}
